TaskWebApplication/TaskWebApplication/Service References/AuthenticationService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SharedLibraries.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SharedLibraries.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="_x003C_email_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_password_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_roles_x003E_k__BackingField" nillable="true" type="tns:ArrayOfRole" />
      <xs:element name="_x003C_userId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_username_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Role" nillable="true" type="tns:Role" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRole" nillable="true" type="tns:ArrayOfRole" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element name="_x003C_roleId_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_roleName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
</xs:schema>